<h1>Categories</h1>

<%= link_to 'Add category', new_category_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>

  <% @categories.each do |category| %>
    <tr>
      <td><%= link_to category.name, category_path(category) %></td>
        <% if logged_in? && (current_user == category.user || current_user.admin? ) %>
        <td>
          <%= link_to 'Edit', edit_category_path(category) %>
          <%= link_to 'Delete', category_path(category), method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
